/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: rgb(255, 251, 251);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.head{
	text-align: center;
	background-color: azure;
	margin: 20px;
	text-decoration-line: none;
}
.head .first .acr{
	border: 2px solid rgb(216, 148, 148);
	border-radius: 100%;
	border-width: 5px;
	font-size:50px;
	text-justify: center;
	background-color:rgb(224, 53, 53);
	color:rgb(201, 131, 131);
	margin-bottom: 5px;
	padding:15px;
}
.head .first{
	font-size:70px;
	color:rgb(224, 53, 53);
	margin-bottom: 5px;
}
.head .head2{
	font-size:30px;
	color:rgb(27, 12, 12);
	text-decoration: none;
}
.head .head2 h4{
	margin-bottom: 5px;
}
.outb{
	float:left;
	width:50px;
	color:rgb(224, 53, 53);
	text-align:right;
}
.mainbody .summary{
    float:right;
	width:1210px;
	border-left:4px solid black;
	padding:0px 10px;
}
.outb .row1{
	float:left;
	width:50px;
	margin-bottom: 40px;
	color:rgb(224, 53, 53);
	text-align:right;
}
.summary .row1{
	margin-bottom: 25px;
	float:right;
	width:1210px;
	padding:0px 10px;
}
.outb .row2{
	float:left;
	width:50px;
	margin-bottom: 40px;
	color:rgb(224, 53, 53);
	text-align:right;
}
.summary .row2{
	margin-bottom: 40px;
	border-collapse:collapse;
	float:right;
	width:1210px;
	padding:0px 10px;
}
.IMG{
	height:20px;
	width:20px;
}
.IMG2{
	height:20px;
	width:20px;
}
.IMG3{
	height:20px;
	width:20px;
}